# .coveragerc

[run]
branch = True
source = molsysmt

[report]
show_missing = True
omit =
    molsysmt/form/**
    molsysmt/_private/**
    molsysmt/lib/**
    molsysmt/element/atom/acceptors.py
    molsysmt/element/atom/charges.py
    molsysmt/element/atom/donors.py
    molsysmt/element/atom/names.py
    molsysmt/element/atom/names_cg.py
    molsysmt/element/chain/chain_names.py

